<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>

<header>
<%- partial('_partial/header') %>
</header>

<div class="container-fluid  my-5">
	<div class="row">
<aside class="col-sm-2">
	
</aside>
<article class="col-sm-6">
	<%- body %>
</article>
<aside class="col-sm-4">

	<div class="row">
		<div class="col-sm-8 ml-sm-5">
	<%- partial('_partial/sidebar') %>
</div>

</div>

</aside>
</div>
   </div>
<footer>
<%- partial('_partial/footer') %>
</footer>


</body>
</html>